---

import { Icon } from 'astro-icon';
const { src = '/astronaut-hero-img.webp' } = Astro.props
---

<div class="mt-5 text-gray-500 overflow-hidden w-full  mx-auto h-50  p-[60px 0] bg-black flex  flex-nowrap whitespace-nowrap">
    <div class="animate-[scroll_10s_linear_infinite] flex  flex-nowrap bg-orange-800">
        <Icon name="simple-icons:bmw"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:bmw"  class="text-red-500 h-15 w-full m-[0_40px]" />
        
    </div>
    <div class="animate-[scroll_10s_linear_infinite] flex  flex-nowrap bg-red-800">
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:honda"  class="text-red-500 h-15 w-full m-[0_40px]" />
        <Icon name="simple-icons:bmw"  class="text-red-500 h-15 w-full m-[0_40px]" />
    </div>
        
        
  
</div>

