---
import { Icon } from 'astro-icon'
---

<section class="relative">
	<div class='py-8 px-4 mx-auto max-w-screen-lg text-center lg:py-16 lg:px-12 '>
		<div class='text-gray-500 overflow-hidden m-auto w-full'>
			<div
				class='flex flex-nowrap items-center mt-8 text-gray-500 justify-between'
			>
				<a href='#' class='mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400'>
					<Icon name='simple-icons:honda' class='text-white  h-10' />
				</a>

				<a href='#' class='mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400'>
					<Icon name='simple-icons:bmw' class='text-white  h-10' />
				</a>
				<a href='#' class='mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400'>
					<Icon name='simple-icons:ktm' class='text-white  h-10' />
				</a>
				<a href='#' class='mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400'>
					<Icon name='simple-icons:suzuki' class='text-white  h-10' />
				</a>
				<a href='#' class='mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400'>
					<Icon name='simple-icons:ktm' class='text-white  h-10' />
				</a>
				<a href='#' class='mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400'>
					<Icon name='simple-icons:yamahacorporation' class='text-white  h-10' />
				</a>
				<a href='#' class='mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400'>
					<Icon name='simple-icons:bmw' class='text-white  h-10' />
				</a>
			</div>
            <!-- <span class='absolute top-0 left-0 w-full h-20 bg-gradient-to-b from-indigo-500 sepia-[.35]' ></span> -->
		</div>
	</div>
</section>
